* {
    font-family: roboto, sans-serif;
}

body {
    margin: 0;
    position: relative;
}

.app-container {
    width: 100vw;
}

.img-container {
    background-image: url(./images/diner.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    margin: 0;
}

.info-container {
    padding-top: 46px;
    padding-left: 46px;
}

.diner-name {
    color: rgb(224, 224, 224);
    margin: 0;
    font-family: smythe, sans-serif;
    font-size: 2.5em;
}

.header-p {
    margin: 0;
    padding-top: 8px;
    padding-bottom: 70px;
    color: rgb(224, 224, 224);
    font-size: 1.2em;
}

.food-item-container {
    padding: 30px;
    padding-left: 15px;
    padding-bottom: 20px;
    display: flex;
    position: relative;
    align-items: center;
}

.addBtn {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 120px;
    right: 35px;
    height: 40px;
    width: 30px;
    border-radius: 50px;
    font-size: 1.5em;
    background-color: transparent;
    color: rgb(0, 0, 0, 0.5);
    border: 1px solid rgb(0, 0, 0, 0.3);
    cursor: pointer;
    font-family: roboto, sans-serif;
}

.img-food-item {
    font-size: 4em;
    margin: 20px;
}

.food-item {
    margin: 0;
    font-family: smythe, sans-serif;
    font-size: 2em;
}

.description {
    margin: 0;
    padding-top: 4px;
    padding-bottom: 10px;
    font-size: 15px;
    color: rgb(0, 0, 0, 0.4);
}

.price {
    margin: 0;
    font-size: 1.1em;
}

hr {
    width: 87%;
    height: 1px;
    border: none;
    background-color: rgb(0, 0, 0, 0.1);
}

/* Order section */

.order-checkout-section {
    margin-top: 40px;
}

.order {
    text-align: center;
    margin-bottom: 30px;
    font-family: smythe, sans-serif;
    font-size: 2em;
}

.top-checkout-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-inline: 40px;
    height: 50px;
}

.bottom-checkout-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-inline: 40px;
    height: 50px;
}

.item {
    font-family: smythe, sans-serif;
    font-size: 2em;
}

.item-remove {
    font-size: 15px;
    padding-left: 10px;
    color: rgb(0, 0, 0, 0.4);
    cursor: pointer;
}

.item-price {
    font-size: 1.1em;
}

.hr {
    height: 3px;
    background-color: rgb(0, 0, 0, 0.3);
    border: none;
}

.order-btn {
    width: 87vw;
    border-radius: 3px;
    background-color: #16db99;
    color: white;
    font-size: 1.4em;
    border: none;
    cursor: pointer;
}

.btn-div {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 30px;
    height: 60px;
}

.hidden {
    display: none;
}

.form-container {
    width: 80vw;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    display: none;
}

.form-block {
    display: block;
}

.card-info-title {
    text-align: center;
    margin-top: 50px;
    font-size: 1.3em;
    letter-spacing: 1px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

input {
    height: 50px;
    width: 95%;
    padding: 0;
    border-radius: 3px;
    font-size: 1em;
    border: 1px solid rgb(0, 0, 0, 0.3);
}

.input {
    padding-left: 20px;
}

.pay-btn-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pay-btn {
    width: 92%;
    height: 50px;
    padding: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #16db99;
    border: none;
    font-size: 1.1em;
    color: white;
    font-family: roboto, sans-serif;
    letter-spacing: 1px;
    cursor: pointer;
}

.error-msg {
    text-align: center;
    color: red;
}

.modal-close {
    position: absolute;
    top: -10px;
    right: 20px;
    font-size: 1.2em;
    color: rgb(0, 0, 0, 0.5);
    cursor: pointer;
}

.order-confirm {
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
    border-radius: 3px;
    background-color: #ecfdf5;
    /* display: none; */
}

.order-confirm-hidden {
    display: none;
}

.order-confirm > p {
    font-family: smythe, sans-serif;
    font-size: 2em;
    color: #065f46;
}
